{% extends 'layout.html.twig' %}

{% block body %}

    <h1>Bienvenue sur le blog</h1>

    <ul>

        {% for article in articles %}
            <li>
                <a href="{{ path('blog.show', { id: article.id}) }}">
                    {{ article.titre }}
                </a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}